@tailwind base;
@tailwind components;
@tailwind utilities;

$sidebar-bg-color: #00a14b;
$sidebar-color: #fff;
$sidebar-width: 245px;
$sidebar-collapsed-width: 80px;
$highlight-color: #fff;
$submenu-bg-color: #fff;
$submenu-bg-color-collapsed: #fff;
$icon-bg-color: #00a14b;
$icon-size: 35px;

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.pro-menu-item {
  font: 600 22px Roboto, sans-serif;
}
.pro-menu {
  min-height: 100% !important;

  font: 600 22px Roboto, sans-serif;
}

@import "~react-pro-sidebar/dist/scss/styles.scss";
