$sidebar-bg-color: #004995;
$sidebar-color: #87c2ff;
$sidebar-width: 245px;
$sidebar-collapsed-width: 80px;
$highlight-color: #ffffff;
$submenu-bg-color: #023a75;
$submenu-bg-color-collapsed: #237ddf;
$icon-bg-color: #004995;
$icon-size: 35px;

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.pro-menu-item {
  font: 600 22px Roboto, sans-serif;
}

@import "~react-pro-sidebar/dist/scss/styles.scss";


.map-card {
  font: 14px / 20px UberMove, Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 344px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 16%) 0 1px 4px;
  margin: 24px;
  padding: 10px 24px;
  max-height: 96%;
  overflow: hidden;
  outline: none;
  z-index: 1;
}

.map-card--title {
  display: flex;
  color: rgb(25, 32, 44);
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font: bold 16px / 24px UberMove, Helvetica, Arial, sans-serif;
  margin: 8px 0;
}

