$sidebar-bg-color: #004995;
$sidebar-color: #f7ec45;
$sidebar-width: 270px;
$sidebar-collapsed-width: 80px;
$highlight-color: #f7ec45;
$submenu-bg-color: #023a75;
$submenu-bg-color-collapsed: #237ddf;
$icon-bg-color: #023a75;
$icon-size: 35px;

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@import "~react-pro-sidebar/dist/scss/styles.scss";
